<%= form_for([@article, @article.comments.build]) do |f|%>
<p>
  <%= f.label :commentor%>
  <%= f.text_field :commentor %>
</p>

<p>
  <%= f.label :body%>
  <%= f.text_area :body%>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
